<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div>
        <!--Add the CSS class "job-listing" to each of the tables to get some nice styling-->
        <table class="job-listing" th:each="job : ${jobs}">
            <tr th:each="instance : ${job}">
                <td th:text="${instance.key}"></td>
                <td th:text="${instance.value}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>